{% load static %}


<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta name="description" content="click to see CV about shadow developer">
  <meta name="keywords" content="HTML, biggener, web, dev">
  <meta name="author" content="shadow">
  <meta name="viewport" content="width=device-width initial-scale=1.0"><!-- this is to phoneScreen-->
  <meta name="viewport" content="height=device-height initial-scale=1.0"><!-- this is to phoneScreen-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Iceberg&family=Play&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
  <meta http-equiv="refresh" content="300"> <!-- this is to refresh a page -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  
    

    {% if title %}
        <title>shadow - {{ title }}</title>
    {% else %}
        <title>shadow</title>
    {% endif %}
    <script src="{% static 'blog/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog/all.css' %}">
</head>

<body id="body" {% if theme == True  %} class = dark-mode   {% elif theme == False  %} {% endif %} >
  
  <header class="header" id="header">
    <a href="{% url 'blog-home' %}" class="title-logo">shadow</a>
    <nav class="nav">
      <a class="nav-a" href="{% url 'blog-home' %}#skills">skills</a>
      <a class="nav-a" href="{% url 'blog-home' %}#projects">projects</a>
      <a class="nav-a" href="{% url 'blog-home' %}#contact">contact</a> <!-- then we see moon -->
      <form method="post" id="task-form">
        {% csrf_token %}
        {% if theme == True  %} 
        <input type="checkbox" id="demo" onclick="myFunction()" checked value = "on" />
        {% elif theme == False  %}
        <input type="checkbox" id="demo" onclick="myFunction()" value = "off"  />
        {% endif %}
        <label for="demo" class="switch-border" id="switch-border" ></label> 
      </form>
    </nav>

        <script>
        $("#demo").change(function(e){
          e.preventDefault();
  $.ajax({
      type:'POST',
      url:'{% url "blog-home" %}',
      data:
      {
          box:this.checked,
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

      },
      
      success:function(){
              },
      error:function(){
              }
      });
  });
        function myFunction() {
  var element = document.body;
  
  document.getElementById("body").style.webkitTransition = "background-color 2s" ;
  document.getElementById("body").style.transition = "background-color 2s" ;
  
  document.getElementById("header").style.webkitTransition = "background-color 2s" ;
  document.getElementById("header").style.transition = "background-color 2s" ;

  element.classList.toggle("dark-mode");

  
};
      </script>

  </header>

  
  {% block content %}
  {% endblock %}
    
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
</body>
</html>
