<footer>
    <section class="contact" id="contact">
      <h2 class="titles">contact</h2>
      <div class="layout" style="flex-direction: column;">
          <h3 class='bio'>Let's Work Together <br><br> You can contact me through one of these active accounts</h3>
          <div class="main-contact">
              <div class="div-contact">
                  <a class="div-contact-a" href="https://www.t.me/the_crazy_shadow/"><i class="fa-brands fa-telegram"></i><span>Telegram</span></a>
                  <a class="div-contact-a" href="https://www.facebook.com/3.shadow.7"><i class="fa-brands fa-facebook"></i><span>Facebook</span></a>
                  <a class="div-contact-a" href="tel:00218922854594"><i class="fas fa-phone-square"></i><span>Phone</span></a>
                  <a class="div-contact-a" href="mailto: the.crazy.shadow7@gmail.com "><i class="fas fa-at"></i><span>Email</span></a>
              </div>
          </div>
      </div>
  </section>
  </footer>