{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<!-- need to add scroll down and put items -->


<section >

    <div  class="layout" style='text-align: center;
                                    padding: 3em 0em 0em 0em;
                                    flex-direction: column;
                                    '>

        <p class ='title-pages' style="
                                    font-size: 1em;
                                    letter-spacing: 0.05em;
                                    font-weight: 600;
                                    "> {{ title }} </p>
        
        
        <p class="longtext"><spin class="text">I can</spin> provide more than one service, so <spin class="text">choose</spin> the <spin class="text"></spin>service</spin> you want</p>
    
    </div>
    <p>scroll down</p>
</section>

<section>

</section>


{% include 'blog/footer.html' %}
{% endblock content %}